/* CURRENTLY IN: styles/main.css */

.board-container {
	border: 1px solid black;
	padding: 5px;
	margin: 0 auto;
	width: 500px;
	height: auto;
}
.cell {
	border: 5px solid white;
	padding: 5px;
	flex: 1;
	height:100px;
	color: white;
	font-size: 60px;
	font-family: sans-serif;
}
.cell-num {
	padding: 15px;
	text-align: center;
	vertical-align: middle;
}
.zero {
	display: none;
}
.empty {
	background-color: gray;
}
.board-row {

	display: flex;
	flex-flow: row wrap;
}

.2 {
	content: "2";
	background-color: red;
	color: white;
}